<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
  <title>CSS Layout</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <!-- <div>div</div>
  <span>span</span>
  <a href="#">a Tag</a> -->

  <div class="container">
    <section class="item item-a">
      <h1>Section a</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A omnis provident veritatis quasi alias, maxime veniam voluptatem eligendi praesentium nobis. Nemo voluptatibus fugit velit officiis doloremque reiciendis voluptatum molestias ipsa.</p>
    </section>
    <section class="item item-b">
      <h1>Section b</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A omnis provident veritatis quasi alias, maxime veniam voluptatem eligendi praesentium nobis. Nemo voluptatibus fugit velit officiis doloremque reiciendis voluptatum molestias ipsa.</p>
    </section>
  </div>

</body>
</html>