/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font */
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


/* icon */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

/* css */


body {
	width: 100vw;
	height: 100vh;
}

.mainfont {
	font-family: 'EliceDigitalBaeum_Bold';

}

.subfont {
	font-family: 'NanumSquare';
}

.grid {
	margin-top: 20px;
	width: 100%;
	font-size: 15px;
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 0.2fr 0.5fr 4.1fr 5fr 3.4fr 0.8fr 0.3fr 0.5fr 0.2fr 0.3fr 0.5fr ;
	/* grid-template-columns: repeat(5,1fr) 4fr repeat(5,1fr); */
}


.main-bg {
	height: 300px;
	background-image: url('../src/assets/bgImg/pexels-godisable-jacob-923210.jpg');
	background-size: cover;
	background-position-y: 87.65%;
}

.contain {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 289px 1fr 1fr 1fr 289px ;
	justify-content: center;
	text-align: center;
}

.items {
	height: 445px;
	width: 445px;
	
}

img {
    display: inline-block;
    content: "";
}

.start {
	opacity: 0;
	transform: scale(0);
}

.end {
	opacity: 1;
	transform: scale(1);
	transition: all 1s;
}